/* General colors and fonts */

body
{
	background: url("tiger.jpg") no-repeat;
    background-attachment: fixed;
	background-size: 100%;
	font-family: 'Fanwood Text';
}

h1,h2,input, a:link, a:visited, p
{
	color: #f1ece6;
}

h1
{
	font-size: 95px;
	font-weight:normal;
}

h2
{
	font-size: 75px;
	font-weight:normal;
}

a:link, a:visited
{
	text-decoration: none;
}


input,label,.centerfield
{
	border-radius: 20px;
	font-family: Muli;
	background-color:#e0d4c6;
	border:0px;
	font-size:25px;
}

.webui-popover, .webui-popover-title
{
	background-color:#f1ece6;
	color:#564738;
}

label,.previous_task
{
	color: #917b62;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

p
{
	font-size: 30px;
}

.error
{
       color: rgb(168,63,17);
       font-size: 18px;
}

.error a:link, .error a:visited 
{
       color: rgb(168,63,17);
       text-decoration: underline;
}

/* Specific colors and fonts */

.centerfield
{
	color: #564738;
}

.button
{
	background-color:#ae5b0a;
	cursor:pointer;
}

.current_task
{
	font-size:35px;
	color: #564738;
}

.text-input
{
	color:#564738;
}

.icon
{
	color: #f1ece6;
	font-size: 41px;
	border: 5px;
	border-style: solid;
	border-radius: 55px;
	cursor: pointer;
}

.aggression_resultfield
{
	font-family: Muli;
	color: white;
	font-size: 30px;
}

.high_aggressive
{
	background-color: rgb(168,63,17);
}

.medium_aggressive
{
	background-color: rgb(200,174,14);
}

.low_aggressive
{
	background-color: rgb(129,174,14);
}

.aggressometer .high_aggressive
{
	background-image: linear-gradient(0deg, rgb(168,63,17) 80%, #b35830 81%)
}

.aggressometer .low_aggressive
{
	background-image: linear-gradient(0deg, rgb(129,174,14) 80%, #91b82d 81%)
}

.correct
{
	font-family: Muli;
	font-size: 15px;
}

/* Sizes and positions */

.mainframe, .centerfield
{
	margin: auto;
	text-align: center;
	margin-top: 180px;
}

.mainframe
{
	width: 1000px;
}

#results
{
	margin-top: 50px;
}

.centerfield
{
	width: 300px;
	padding: 50px;
}

input,label
{
	margin:20px;
	height:60px;
	padding:10px;
	padding-left: 30px;
	padding-right: 30px;
}

input:focus
{
	outline: 0;
}

.tweet
{
	width: 500px;
	margin: auto;
}

.button:hover
{
	background-color:#904b08;
}

.text-input, label
{
	width:500px;
}

.text-input
{
	margin-left:0px;
	padding-left:60px;
}

.current_task
{
	margin-top:60px;
}

label
{
	margin-right: -50px;
	padding-left:14px;
	font-size:32px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 9px;
	position:relative;
	top:3px;
}

.icon
{
	width: 50px;
	height: 50px;
	margin: auto;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.aggression_score
{
	width: 70px;
	height: 55px;
	padding-top: 15px;
	border-radius: 20px;
	position: relative;
	margin-left: 213px;
	margin-top: -40px;
}

.correct_text
{
	text-align: right;
	position: relative;
	margin-right: 265px;
	margin-top: -35px;
	margin-bottom: 50px;
}

.correct_button
{
	padding: 10px;
	border-radius: 15px;
	margin: auto;
	display: inline;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 40px;
	margin-right: 40px;
	cursor: pointer;
}

.correct_area
{
	margin-top:60px;
}

#suggestion
{
	font-size: 20px;
}

.aggressometer
{
	width: 600px;
	margin: auto;
	margin-bottom: 100px;
}

.aggressometer-part
{
	height: 50px;
	display: inline-block;
	margin: -2px;
}

.aggressometer .high_aggressive
{
	width: 200px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;	
}

.aggressometer .low_aggressive
{
	width: 400px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;	
}

#photo_container
{
	width:65px;
	margin-top:-4px;
}

#photo_container #triangle
{
    border-color: transparent transparent white transparent;
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    height: 0px;
    width: 0px;
	margin:auto;
}

#user_photo
{
	height: 65px;
	width: 65px;
	background-color: white;
	border-radius: 10px;
}

#photo_container img
{
	margin:8px;
}

.tweetbutton
{
	position: relative;
	top:2px;
}