/* General colors and fonts */

body
{
	background: url("tiger.jpg") no-repeat;
    background-attachment: fixed;
	background-size: 100%;
	font-family: 'Fanwood Text';
}

h1,h2,input, a:link, p
{
	color: #f1ece6;
}

h1, h2
{
	font-size: 95;
	font-weight:normal;
}

a:link
{
	text-decoration:none;
	color: white;
}

a:visited
{
	color: white;
}

input,label,.centerfield
{
	border-radius: 20px;
	font-family: Muli;
	background-color:#e0d4c6;
	border:0px;
	font-size:25px;
}

.webui-popover, .webui-popover-title
{
	background-color:#f1ece6;
	color:#564738;
}

label,.previous_task
{
	color: #917b62;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

p
{
	font-size: 30px;
}

/* Specific colors and fonts */

.centerfield
{
	color: #564738;
}

.button
{
	background-color:#ae5b0a;
	cursor:pointer;
}

.current_task
{
	font-size:35px;
	color: #564738;
}

.text-input
{
	color:#564738;
}

.info
{
	color: #f1ece6;
	font-size: 41px;
	border: 5px;
	border-style: solid;
	border-radius: 55px;
	cursor: pointer;
}

.aggression_resultfield
{
	font-family: Muli;
	color: white;
	font-size: 30px;
}

.high_aggressive
{
	background-color: rgb(168,63,17);
}

.medium_aggressive
{
	background-color: rgb(200,174,14);
}

.low_aggressive
{
	background-color: rgb(129,174,14);
}


.correct
{
	font-family: Muli;
	font-size: 15px;
}

/* Sizes and positions */

.mainframe, .centerfield
{
	margin: auto;
	text-align: center;
	margin-top: 180px;
}

.mainframe
{
	width: 1000px;
}

#results
{
	margin-top: 50px;
}

.centerfield
{
	width: 300px;
	padding: 50px;
}

input,label
{
	margin:20px;
	height:60px;
	padding:10px;
	padding-left: 30px;
	padding-right: 30px;
}

input:focus
{
	outline: 0;
}

.tweet
{
	width: 500px;
	margin: auto;
}

.button:hover
{
	background-color:#904b08;
}

.text-input, label
{
	width:500px;
}

.text-input
{
	margin-left:0px;
	padding-left:60px;
}

.current_task
{
	margin-top:60px;
}

label
{
	margin-right: -50px;
	padding-left:14px;
	font-size:32px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 9px;
	position:relative;
	top:3px;
}

.info
{
	width: 50px;
	height: 50px;
	margin: auto;
	margin-top: 112px;
}

.aggression_score
{
	width: 70px;
	height: 55px;
	padding-top: 15px;
	border-radius: 20px;
	position: relative;
	margin-left: 213px;
	margin-top: -40px;
}

.correct_text
{
	text-align: right;
	position: relative;
	margin-right: 265px;
	margin-top: -35px;
	margin-bottom: 50px;
}

.correct_button
{
	padding: 10px;
	border-radius: 15px;
	margin: auto;
	display: inline;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 40px;
	margin-right: 40px;
	cursor: pointer;
}

.correct_area
{
	margin-top:60px;
}
