<head>

<!-- Twitter's widgets.js -->

<script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Own style -->
<link rel="stylesheet" type="text/css" href="../static/main.css">

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Fanwood+Text' rel='stylesheet' type='text/css'>

<!-- Icons -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<script type="text/javascript">
</script>

</head>
<body>

<div class="mainframe" id="results">
	<h2>Dankjewel!</h2>

	<p>Je suggestie is opgeslagen! Zodra we een grote hoeveelheid suggesties zoals de jouwe hebben verzameld, gaan we onze algoritmes hiermee hertrainen.</p>

	<form action="results/{%TWITTER_USER%}"><input type="submit" style="width:380px;" class="button" value="Ok&eacute;, terug naar de tweets!"></form>

</body>
